.navbar{
    width: 100%;
    height: 75px;
    background: #f7f7f7;
    border-bottom: 1px solid #555;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container{
    margin-left: 15px;
}

.logo-container span {
    font-weight: 500;
    cursor: pointer;
    width: 70px;
    height: 70px;
}

.links-container {
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-right: 30px;
    font-size: 20px;
}

.link a{
    text-decoration: none;
}

.link a:hover{
    text-decoration: none;
    color: rgba(14, 34, 14, 0.8);
}